@charset 'utf-8';

* {
  margin: 0; padding: 0;
  transition: all .3s;
}
ul, ol, dl {
  list-style-type: none;
}
a {
  color: inherit;
  text-decoration: none;
}
img {display: block;}
::-moz-selection {
  color: var(--main-color);
  background: #333;
}

::selection {
  color: var(--main-color);
  background: #333;
}