@charset 'utf-8';

/* font */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

/* basic style */
body {
  font: 16px/1.5 "pretendard variable";
}
html,body {
width: 100%;
overflow-x:hidden;
background: #070707;
}
.inner {
  max-width: 1500px;
  margin: 0 auto;
}
:root {
  --main-color:#01FF48;
  --main-color-light:#06EB77;
  --deco-font-style: "Oswald", sans-serif;
  /* --deco-font-style: "Kanit", sans-serif; */
  --deco-font-weight: 500;
  --text-light-color:#fff;
  --dark-point-color:#070707;
}


/* keyframes 애니메이션 */
@keyframes fade-left {
  0% {opacity: 0; left: -100px;}
  100% {opacity: 1; left: 0;}
}
@keyframes fade-right {
  0% {opacity: 0; right: -100px;}
  100% {opacity: 1; right: 0;}
}
@keyframes fade-bottom {
  0% {opacity: 0; transform: translateY(20%);}
  100% {opacity: 1; transform: translateY(0);}
}
@keyframes electricBulb {
  0% {opacity: .7; top: 210px;}
  50% {opacity: .4; top: 200px;}
  100% {opacity: .7; top: 210px;}
}
@keyframes cloud {
  0% {transform: translateY(0);}
  50% {transform: translateY(20%);}
  100% {transform: translateY(0);}
}
@keyframes marquee {
  0% {transform: translateX(0)}
  100% {transform: translateX(-50%)}
}
@keyframes image-move-down {
  0% {transform: translateY(0);}
  100% {transform: translateY(-82%);}
}
@keyframes fade-in {
  0% {opacity: 0; transform: translateY(30%);}
  100% {opacity: 1; transform: translateY(-30%);}
}